node_modules/
/reports/
/blob-report/
/playwright/.cache/
playwright_tests.log
results.xml
playwright-report/
playwright-report/index.html
/playwright-report/
.features-gen/
playwright-report/index.html
execution_logs.md
/screenshots/